<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <!-- 对非保护目录下的jsp文件进行后缀隐藏,实现效果与伪静态一致 -->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <jsp-file>/signin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

    <!-- WEB-INF目录下可通过内联框架访问-->
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <jsp-file>/WEB-INF/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Profile</servlet-name>
        <jsp-file>/WEB-INF/profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Table</servlet-name>
        <jsp-file>/WEB-INF/table.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Table</servlet-name>
        <url-pattern>/tables</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Article</servlet-name>
        <jsp-file>/WEB-INF/articles.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Article</servlet-name>
        <url-pattern>/articles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogList</servlet-name>
        <jsp-file>/WEB-INF/bloglist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogPage</servlet-name>
        <jsp-file>/WEB-INF/blogpage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogPage</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditPage</servlet-name>
        <jsp-file>/WEB-INF/editpage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPage</servlet-name>
        <url-pattern>/editpage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <jsp-file>/WEB-INF/searchresult.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/searchresult</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NotFound</servlet-name>
        <jsp-file>/WEB-INF/404.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotFound</servlet-name>
        <url-pattern>/notfound</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

</web-app>
